@media screen and (max-width: 1400px) {

    /* Slider */
    .slider {--items-per-screen:5;}
    /* Slider */

    /* Category */
    .category-podcast-list {display:grid;grid-template-columns: repeat(4, 1fr);gap: 16px;}
    /* Category */

    /* Favorites */
    .favorites-list {display:grid;grid-template-columns: repeat(5, 1fr);gap: 16px;}
    /* Favorites */

}