@media screen and (max-width: 500px) {

    /* Slider */
    .slider {--items-per-screen: 2;}
    /* Slider */

    /* Category */
    .category-podcast-list {display:grid;grid-template-columns: repeat(2, 1fr);gap: 16px;}
    /* Category */

    /* Favorites */
    .favorites-list {display:grid;grid-template-columns: repeat(2, 1fr);gap: 16px;}
    /* Favorites */

}